.content {
  display: flex;
  flex-direction: column;
}

.top {
  display: inline-flex;
  padding-bottom: 100px;
}

.topLeft {
  border-right: 3px solid rgba(0, 0, 0, 0.562);
}

div > .topLeft {
  padding: 10px;
}

.leftBtns {
  width: 120px;
  margin: 5px 0px 5px -10px;
}

.logbookTrash {
  display: inline-flex;
  flex-direction: column;
  margin: 30px 0px;
}

.bottomBar {
  display: inline-flex;
  padding-top: 10px;
  border-top: 3px solid rgba(0, 0, 0, 0.562);
  max-width: 90%;
}

.newProj {
  border-right: 3px solid rgba(0, 0, 0, 0.562);
  padding-right: 10px;
}

.newProj > button {
  width: 120px;
}

.newTodo > button {
  margin-left: 30px;
}

.todayHeader {
  margin-left: 30px;
  margin-top: 0px;
}

/* old js dom styling */
/* .content {
  display: inline-flex;
  flex-direction: column;
}

.topContent {
  display: inline-flex;
}

.todos {
  padding-left: 30px;
}

.list {
  list-style-type: none;
}

.leftContainer {
  border-right: solid rgba(0, 0, 0, 0.674) 3px;
  padding-right: 50px;
  padding-top: 20px;
}

.listItems {
  margin-top: 35px;
}

.banner {
  margin-left: 75px;
}

.bottomBar {
  display: inline-flex;
  justify-content: space-between;
}

.search {
  min-width: 50px;
} */
